*{
    margin: 0px;
    padding:0px;
}

.nav{
    display: flex;
    background-color: rgb(227, 100, 25);
    color: aliceblue;
    font-size: 15px;
    font-weight:bold;
    font-family: 'Ubuntu', sans-serif;
}

.companyName{
    width: 50%;
    padding:8px 15px;
    }

.menulink{
display: flex;
width: 50%;
}

.menulink a{
padding:8px 15px;
margin: 0px 15px;
justify-content: right;
text-decoration: none;
color: aliceblue;
}

.menulink :hover{
    padding:8px 15px;
    margin: 0px 15px;
    justify-content: right;
    text-decoration: none;
    color: rgb(237, 238, 132);
    }