*{
    margin: 0px;
    padding:0px;
    font-family: 'Ubuntu', sans-serif;
}

.nav{
    display: flex;
    background-color: rgb(227, 100, 25);
    color: aliceblue;
    font-size: 15px;
    font-weight:bold;
    }

.companyName{
    width: 65%;
    padding:8px 15px;
    }

.menulink{
display: flex;
width: 35%;
}

.menulink a{
padding:8px 15px;
margin: 0px 15px;
justify-content: right;
text-decoration: none;
color: aliceblue;
}

.menulink :hover{
    padding:8px 15px;
    margin: 0px 15px;
    justify-content: right;
    text-decoration: none;
    color: rgb(237, 238, 132);
    }

.section1{
    display: flex;
    padding-bottom: 100px;
}

.main-top{
    width: 50%;
    }

#main-top-h2{
    margin:250px 50px 50px 50px;
    font-size: 70px;
    }

.h1color{
    color: orangered;
    }

#main-top-p{
margin:0px 50px 50px 50px;
font-size: 30px;
color: rgb(108, 108, 108);
}

#button-main{
    margin:0px 50px 20px 50px;
    font-size: 22px;
    padding: 10px 30px;
    background-image: -moz-linear-gradient(red, orange);
    color: aliceblue;
    font-weight:bold;
    border-radius: 55px;
    }

#main1photo{
margin-right: 5px;
}

.section2{
    display: flex;
    
    padding-bottom: 100px;
    background-image: url("./images/shapes/7.png");
    background-repeat: no-repeat;
    background-size: cover;
    }

#main2photo{
    margin-left: 5px;
    }

.main-top2{
    width: 50%;
}

#main-top2-h2{
    margin:100px 50px 50px 50px;
    font-size: 70px;
    }

.sec3heading{
    text-align: center;
    padding: 50px 50px 15px;
    font-size: 50px;
    font-weight: bold;
    color: orangered;
}
.main-mid-p{
    text-align: center;
    font-size: 30px;
    color: rgb(108, 108, 108); 
    padding: 0px 150px;   
}

